.modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    position: relative;
    width: 630px;
    padding: 0px 104px;
    border-radius: 10px;
    background-color: white;
}

.modal-switch-wrapper {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px 48px;
}

#back-modal {
    position: absolute;
    font-size: 24px;
    top: 32px;
    left: 30px;
    cursor: pointer;
}

#close-modal {
    position: absolute;
    font-size: 24px;
    top: 32px;
    right: 30px;
    cursor: pointer;
}

.modal-icon-wrapper i {
    font-size: 26px;
    cursor: pointer;
}

.modal-switch-wrapper h3 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 46px;
    font-size: 26px;
    font-weight: 400;
    line-height: 30.5px;
}

/* ---------- MODAL MAIN ---------- */
  /* ------ modal gallery ------ */
  .modal-content form {
    width: 100%;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-main-wrapper {
    width: 100%;
    display: flex;
    padding-bottom: 35px;
    border-bottom: 1px solid #B3B3B3;
}

.photos-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.modal-photo-wrapper {
    position: relative;
    width: 18%;
    height: 120px;
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    margin-bottom: 12px;
}

.icons-photo-wrapper {
    position: absolute;
    top: 6px;
    right: 6px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 10;
}

.icons-photo-wrapper i{
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 10px;
}

.modal-photo-wrapper img {
    position: relative;
    display: flex;
    margin-bottom: 4px;
    flex: 1;
}

.modal-photo-wrapper p {
    font-size: 12px;
    line-height: 14px;
}

  /* ------ add photo ------ */

.add-photo-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.photo-preview-wrapper {
    position: relative;
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 3px;
    background-color: #E8F1F7;
}

.photo-preview-wrapper img {
    position: absolute;
    display: none;
    width: 140px;
    height: inherit;
    object-fit: cover;
}

.photo-preview-wrapper i {
    font-size: 50px;
    margin-bottom: 15px;
    color: #B9C5CC;
}

.photo-preview-wrapper label {
    margin-bottom: 7px;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #CBD6DC;
    color: #306685;
    cursor: pointer;
}

.photo-preview-wrapper input[type="file"] {
    display: none;
}

.button-add-photo:hover {
    background-color: #94abb8;
}

  /* ------ add photo info ------ */

.add-photo-infos-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-photo-title-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 21px;
}

.add-photo-title-wrapper:nth-last-child(1) {
    margin-bottom: 0px;
}

.add-photo-title-wrapper label {
    font-weight: 700;
    margin-bottom: 10px;
}

.add-photo-title-wrapper input, select {
    height: 50px;
    border: none;
    padding: 0px 21px 0px 16px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/* ---------- MODAL END BUTTON ---------- */

.modal-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-button-wrapper input, .modal-button-wrapper button {
    width: 237px;
    font-family: 'Syne';
	font-weight: 700;
	margin: 38px 0px 23px;
    padding: 10px 50px;
	text-align: center;
	border-radius: 60px ;
    color: white;
	background-color: #1D6154;
	cursor: pointer;
}

.modal-button-wrapper input:hover, .modal-button-wrapper button:hover {
    background-color: #0E2F28;
}

.modal-button-wrapper input[disabled] {
    background-color: #A7A7A7;
    cursor: not-allowed;
}

.modal-button-wrapper a {
    color: #D65353;
    cursor: pointer;
}

